.login{
    width: 70em;
    height: 45em;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 99;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 0px 0px 12px 2px rgba(15, 15, 15, 0.2);
    border-radius: 5px;
    position: relative;
    z-index: 99;
    width: 45%;
    height: 75%;
    padding: 17px 10px;
}

.right-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 15%;
    background-color: #3498db;
    width: 45%;
    position: absolute;
    right: -40%;
    border-radius: 4px;
    z-index: 1;
    transition: all 500ms ease-in-out;
    cursor: pointer;
    box-shadow: 0px 0px 2px 2px rgba(15, 15, 15, 0.281);
}

.right-side.right {
    right: 5%;
    align-items: flex-end;
}

.right-side.left {
    right: 51%;
    align-items: flex-start;
}

.text {
    font-size: 30px;
    font-weight: 500;
    color: #fff;
    margin-right: 1em;
    margin-left: 1em;
}